.page-id-34 {
    background-color: $background;
}

.about-text {
    background-color: $tertiary;
    h1 {
        font-weight: 800;
        margin-top: -6.5rem;
        pointer-events: none;
        flex: 1 100%;
    }
}

.mission {
    background-color: #ffc25c70;
    h2 {
        font-size: 9vw;
        margin-top: -8.5rem;
        pointer-events: none;
        flex: 1 100%;
    }
}

