html {
	#font__size--0{
		font-size: 100% !important;
	}
	#font__size--1{
		font-size: 120% !important;
	}
	#font__size--2{
		font-size: 150% !important;
	}
}

body {
  font-size: calc(14px + (20 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.wrapper {
  padding: 0!important;
}

.container-fluid {
  padding: 0!important;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand';
}

h2 {
  font-size: calc(45px + (45 - 20) * ((100vw - 300px) / (1600 - 300)));
}

h3 {
  font-size: calc(42px + (42 - 20) * ((100vw - 300px) / (1600 - 300)));
}

p,
li,
a,
ul,
ol,
table,
form {
  font-family: 'Montserrat', sans-serif; 
}

.btn {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.wp-caption-text {
  font-size: 16px;
  text-align: left;
}


