.wrapper {
  padding: 0!important;
}
.container-fluid {
  padding: 0!important;
}

h1, h2, h3, h4 {
    font-family: 'Quicksand';
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 8vw;
}

p,
li,
a,
ul,
ol,
table,
form {
  font-size: 20px;
  font-family: 'Montserrat', sans-serif; 
}

.btn {
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

