.blog {
  background-color: $background;
  article {
    background-color: $white;
  }
  h2 {
    font-size: 0!important;
    a {
      font-size: 2rem;
    }
  }
  h3 {
    font-size: 1.25rem;
  }
}

.card-blog {
  box-shadow: -48px 45px 0px -29px $warning-opacity;

}
.square-blog {
  @include square ($warning-opacity, 25%, 100%, 2%, 0, -1)
}

.page-title {
  @include underline ($warning-opacity, 75%);
  font-size: 160px;
  margin-bottom: 2rem;
}

.card-footer {
  background-color: $white !important;
  border-top: none !important;
  padding: 0 !important;
}

//Single Blog Page
.single-post {
  background-color: $background;
  h1 {
    @include underline ($warning-opacity, 88%)
  }
  h2 {
    font-size: 1.5rem;
  }
  .post-image{
    z-index: 3;
    margin-left: 5rem;
  }
  .entry-content {
    background-color: $tertiary;
    padding: 4rem;
  }
}