// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from /sass/bootstrap/_variables.scss, paste it here and edit the value.
// As example you find one of the most important Bootstrap variable below: $brand-primary.
// Thats the ugly Bootstrap blue used for all the links, primary buttons etc.
// Just add your color code here, compile the theme.scss file to change this color everywhere


//
// Color system
//
$background: #FDF8ED;
$background-two: #e1f2fb;
$primary: #79bac1;
$secondary: #ED6A5A;
$warning: #ffc25c;
$tertiary:#f4dada;

$secondary-opacity: #ED6A5A70;
$warning-opacity: #ffc25c70;

//Breakpoints 
$xs: 0;
$sm: 576px;
$md: 768px; 
$lg: 992px; 
$xl: 1200px;

//Underline
@mixin underline ( $color, $percentage) {
    font-size: 80px;
    font-weight: 800;
    background-image: linear-gradient($color);
    background-repeat: no-repeat;
    background-size: 100% 0.3em;
    background-position: 0% $percentage;
}

//Square
@mixin square ($color, $width, $height, $top, $left, $index) {
    position: absolute;
    background-color: $color;
    width: $width;
    height: $height;
    top: $top;
    left: $left;
    z-index: $index;
    &::after {
      content: "";
      display: block;
      padding-bottom: 100%;
  }
}
