.navbar {
  color: #000 !important;
}

.navbrand {
  font-family: "Quicksand";
  font-size: 80px;
}

#wrapper-footer {
  background-color: $primary;
}

.site-info {
  font-size: 20px !important;
}

.wt-fill-denim-tint {
  fill: $primary !important;
}


.page-id-32 {
  background-color: $background;
}