nav {
  li {
    &:hover  {
      &:not(.active) {
        border-bottom: solid 2px $background;
      }
    }
    margin: 0 0.25rem;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $background!important;
  font-size: 20px;

}

.navbar-brand {
  font-family: "Quicksand";
  color: $background!important;
  // line-height: 2.5rem;
}

a[title='Nancy Johnston']{
  font-weight: 800;
  font-size: 2vw;
  font-family: 'Petit Formal Script', cursive;
}

.tagline {
  font-size: 30px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 248, 237, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: $background;
} 

.active {
  border-bottom: solid 2px $background;  
}



#wrapper-footer {
  background-color: $primary;
  margin-top: -0.75px;
}

.site-text {
  color: $background!important;
}

#menu-footer, #menu-social {
    padding-left: 0!important;
    li {
      list-style-type: none;
    }
    a {
      color: $background!important;
      text-decoration: underline;
    }
  }

#menu-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  li {
    padding: 0.5rem;
  }
}  


//Text Size
.js--accessibility__font__size{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  list-style-type: none;
}

//Workshops
.single-workshops {
  background-color: $background;
  h1 {
    @include underline ($secondary-opacity, 88%);
  }
  h2 {
    font-size: 1.5rem;
  }
  .entry-content {
    background: $background-two;
    padding: 4rem;
  }
  .post-image{
    z-index: 3;
    margin-left: 5rem;
  }
}

.page-id-119, .page-id-140, .page-id-32, .page-id-158 {
  background-color: $background;
}

.workshop-title {
  @include underline($secondary-opacity, 75%);
  font-size: calc(60px + (60 - 18) * ((100vw - 300px) / (1600 - 300)))!important;
}

//Resource Page
.page-id-140 {
  .resource-title {
    @include underline($background-two, 75%);
    font-size: calc(60px + (60 - 18) * ((100vw - 300px) / (1600 - 300)))!important;
  }
  h2 {
    font-size: calc(52px + (52 - 20) * ((100vw - 300px) / (1600 - 300)));
  }
  .col-lg-12 {
    background-color: $white;
  }
}

//Sitemap
.html-sitemap {
  h1 {
  font-size: calc(20px + (80 - 20) * ((100vw - 300px) / (1600 - 300)))!important;
  @include underline($secondary-opacity, 75%);
  }
  h2{
    font-size: calc(20px + (52 - 20) * ((100vw - 300px) / (1600 - 300)));
  }
  h3 {
    font-size: calc(20px + (42 - 20) * ((100vw - 300px) / (1600 - 300)));
  }
  .category {
    list-style-type: none;
    font-size: inherit;
  }
  #pages, .col-even {
    box-shadow: -48px 45px 0px -29px $background-two;
  }
  #archives, .col-odd{
    box-shadow: 33px -26px 0px 0px $background-two;
  }
}
.sitemap {
  background-color: $white;
}

//Media Queries***********************************
// @media (min-width: $xl){
// .container {
//     max-width: 1400px!important;
// }
// }
//Small
@media screen and (max-width: $sm) {
  .resource-title {
    text-align: left!important;
  }
}