nav {
  // .container {
  //   margin: 2rem!important;
  //   padding: 2rem!important
  // }
}


.navbar-light .navbar-nav .nav-link {
  color: $background!important;
  font-size: 20px;
}

.navbar-brand {
  font-family: "Quicksand";
  color: $background!important;
  // line-height: 2.5rem;
}

a[title='Nancy Johnston']{
  font-weight: 800;
  font-size: 2vw;
  font-family: 'Petit Formal Script', cursive;
}

.tagline {
  font-size: 30px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(253, 248, 237, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: $background;
} 

.active {
  border-bottom: solid 2px $background;  
}

li {
  &:hover  {
    &:not(.active) {
      border-bottom: solid 2px $background;
    }
  }
  margin: 0 0.25rem;
}

#wrapper-footer {
  background-color: $primary;
  margin-top: -0.75wpx;
}

.site-info {
  font-size: 20px !important;
}

//Workshops
.single-workshops {
  background-color: $background;
  h1 {
    @include underline ($secondary-opacity, 88%);
  }
  h2 {
    font-size: 1.5rem;
  }
  .entry-content {
    background: $background-two;
    padding: 4rem;
  }
  .post-image{
    z-index: 3;
    margin-left: 5rem;
  }
}

.page-id-119, .page-id-140, .page-id-32, .page-id-158 {
  background-color: $background;
}

.workshop-title, .resource-title {
  @include underline($secondary-opacity, 75%);
  font-size: calc(60px + (60 - 18) * ((100vw - 300px) / (1600 - 300)))!important;
}

//Resource Page
.page-id-140 {
  h2 {
    font-size: calc(52px + (52 - 20) * ((100vw - 300px) / (1600 - 300)));
    @include underline($warning-opacity, 88%);
  }
  .col-lg-12 {
    background-color: $white;
  }
}

//Media Queries***********************************
//Small
@media screen and (max-width: $sm) {
  .resource-title {
    text-align: left!important;
  }
}