.contact-image {
    background-color: $background-two;
}

.contact-text {
    background-color: $background-two;
    h1 {
        font-weight: 800;
        margin-top: -5.5rem;
        pointer-events: none;
        flex: 1 100%;
    }
}

#contact{
    h2 {
        @include underline ($warning-opacity, 88%)
    }
}

.contact-form {
    background-color: $tertiary;  
    input[type='submit'] {
        background-color: $warning;
        color: $black;
        border: $warning solid 2px;
        font-size: 20px;
        font-family: 'Raleway'; 
        font-weight: 800;
        &:hover {
            background-color: $warning;
            color: $black;
            border: $warning solid 2px;
        }
    }
}