#maincontent {
    margin-top: 5rem;
}

//Overview Section
.overview {
    background-color: $background;
    h1 {
        @include underline ($secondary-opacity, 88%);
        font-family: 'Petit Formal Script', cursive;
        font-size: calc(20px + (80 - 20) * ((100vw - 300px) / (1600 - 300)));
    }
    .featured-image{
        box-shadow: 33px -26px 0px 0px $secondary-opacity;
    }
}

.summary {
    margin: auto 0;
}

//Services Section
.services{
    h2 {
        @include underline ($warning-opacity, 88%)
    }
}
.services-summary {
    background-color: $background-two;
}

//Contact Section
.contact-section {
    background-color: $tertiary;
    .img-fluid {
        box-shadow: -46px 32px 0px 0px $warning-opacity;
    }
}

//Media Queries***********************************
//Extra Large
@media screen and (max-width: $xl) {
    img {
        display: block;
        margin: 0 auto;
    }
    .wp-caption-text {
        text-align: center;
    }
}
//Large
@media screen and (max-width: $lg) {
    .row {
        margin: 0!important;
    }
}
//Small
@media screen and (max-width: $sm) {
    .featured-image{
        box-shadow: none!important;
    }
    .overview {
        h1 {
            text-align: left;
        }  
        p {
            text-align: left;
        }
    }
    .services {
        padding: 0!important;
    }
    .contact-section {
        padding: 0!important;
        .img-fluid {
            box-shadow: none!important;
        }
    }
}