#maincontent {
    margin-top: 5rem;
}

//Overview Section
.overview {
    background-color: $background;
    h1 {
        @include underline ($secondary-opacity, 88%);
        font-family: 'Petit Formal Script', cursive;
    }
    .featured-image{
        box-shadow: 33px -26px 0px 0px $secondary-opacity;
    }
}

.summary {
    margin: auto 0;
}


//Services Section
.services{
    h2 {
        @include underline ($warning-opacity, 88%)
    }
}
.services-summary {
    background-color: $background-two;
}

//Contact Section
.contact-section {
    background-color: $tertiary;
    .img-fluid {
        box-shadow: -46px 32px 0px 0px $warning-opacity;
    }
}

//Media Queries
@media screen and (min-width: $xl) {
    .row {
        margin: 0!important;
    }
    .square {
        @include square ($secondary-opacity, 25%, 78%, 5%, 65%, 0)
    }
    .square-contact {
        @include square ($warning-opacity, 30%, 52%, 18%, 5%, 0)
    }
    .wp-caption-text {
        text-align: left!important;
    }
}

@media only screen 
  and (min-device-width: $lg) 
  and (max-device-width: $xl) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .square {
        @include square ($secondary-opacity, 25%, 78%, 5%, 73%, 0)
    }
    .square-contact {
       display: none;
    }
}

//Large
@media screen and (max-width: $lg) {
    .row {
        margin: 0!important;
    }
    .square {
        display: none;    
    }
    .wp-caption-text {
        text-align: center!important;
    }
    .square-contact {
        @include square ($warning-opacity, 48%, 35%, 18%, 20%, 0)
    }
}

//Medium
@media screen and (max-width: $md) {
    .square-contact {
        @include square ($warning-opacity, 15%, 30%, 13%, 10%, 0)
    }
    .summary {
        margin: 0;
    }
}

// //Small
// @media screen and (max-width: $sm) {
//     .square-contact {
//         display: none;
//     }
// }
